
# Credential Files
.credentialsrc
.credentials.bat

# Resulting Files
logs/
output/
packer_cache/

# Eclipse Files
.project
.settings/

# Media Files
res/media/ubuntu-18.10-server-amd64.iso
res/media/ubuntu-18.10-server-amd64.iso.part
res/media/rhel-server-6.9-x86_64-dvd.iso
res/media/rhel-server-7.5-x86_64-dvd.iso
res/media/rhel-server-6.9-x86_64-dvd.iso.part
res/media/rhel-server-7.5-x86_64-dvd.iso.part
res/scripts/download.sh
res/providers/vagrant_2.1.1_x86_64.rpm
res/providers/packer_1.2.4_linux_amd64.zip
res/providers/VMware-Workstation-Full-12.5.9-7535481.x86_64.bundle
